<nav class="menu">
    <ul class="menu-list">
        <li class="list-item"><a href="/" title="Главная страница">Главная</a>
        </li>
        <li class="list-item"><a href="/upload" title="Загрузка файлов">Загрузка</a>
        </li>
    </ul>
</nav>
